body{
    margin: 0px;
}
* {
    box-sizing: border-box;
}
.top {
    word-spacing: 40px;
}
.image{
    width: 77vw;
   grid-area: image;
   
}
.first{
    grid-area: first;
    background-image: url(/assets/img/handbag.jpg);
    
    text-align: left;
    padding-top: 150px;
    
}
.second {
    grid-area: second;
    background-image: url(/assets/img/watch.jpeg);
    text-align: left;
    padding-top: 150px;
}
.third {
    grid-area: third;
    background-image: url(/assets/img/mymym.jpeg);
    padding-top: 150px;
    text-align: left;
}

.zxc {
    
    margin-top: -8px;

    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "image image image"
                         "first second third";     
    gap: 20px
    ;               
}
main{
    margin-bottom: 0%;
}
.card{
    text-align: center;
    padding: 10px;
}
.card-img-top {
    height: 250px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    gap: 50px;
}
#wk {
    word-spacing: 15px;
}