body{
    margin: 0px;
}
* {
    box-sizing: border-box;
}
.top {
    word-spacing: 7px;
    width: 695px;
}
.image{
    width: 695px;
   grid-area: image;
   
}
.first{
    grid-area: first;
    background-image: url(/assets/img/handbag.jpg);
    
    text-align: left;
    padding-top: 150px;
    object-fit:cover
    
}
.second {
    grid-area: second;
    background-image: url(/assets/img/watch.jpeg);
    text-align: left;
    padding-top: 150px;
    object-fit:cover
}
.third {
    grid-area: third;
    background-image: url(/assets/img/mymym.jpeg);
    padding-top: 150px;
    text-align: left;
    object-fit:cover
}

.zxc {
    
    margin-top: -8px;

    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-template-areas: "image "
                         "first "
                         "second"
                         "third";   
    gap: 20px
    ;               
}
main{
   margin: 0px auto;
    
}
.card{
    text-align: center;
    padding: 10px;
}
.card-img-top {
    height: 250px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr   ;
    gap: 50px;
   
}
#wk {
    word-spacing: 15px;
}
.card-img-top {
    object-fit:cover;
}
@media(min-width:1200px) {
    .top {
        word-spacing: 40px;
        width: 1116px;
    }
    .image {
        width: 1116px;
    }
    .zxc { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr  ;
        grid-template-areas: "image image image"
                             "first  second third";   

    }
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}